name: fact-graph

on:
  workflow_dispatch:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

# Cancel redundant builds on same branch
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  # do not cancel redundant builds on main or release branches
  cancel-in-progress: ${{ github.ref != 'refs/heads/main' && !startsWith(github.ref, 'refs/heads/release/') }}

env:
  JAVA_VERSION: 21
  FACT_GRAPH_PATH: fact-graph

jobs:

  check-commit-emails:
    runs-on: ubuntu-latest
    steps:

    - name: Checkout Fact Graph
      uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
      with:
        path: ${{ env.FACT_GRAPH_PATH }}
        fetch-depth: 0

    - name: Check commit emails
      working-directory: ${{ env.FACT_GRAPH_PATH }}
      run: |
          git fetch origin ${{ github.base_ref }}
          echo ${{ github.base_ref }}
          git log origin/${{ github.base_ref }}..HEAD --pretty=format:"%ae%n%ce" | sort -u > emails.txt
          echo "Found email(s):"
          cat emails.txt
          if grep -Evi '(^noreply@github\.com$|@users\.noreply\.github\.com$)' emails.txt | grep -v '^\s*$' > invalid.txt; then
            echo "Invalid email(s):"
            cat invalid.txt
            exit 1
          fi

  build:

    needs: check-commit-emails

    runs-on: ubuntu-latest

    steps:

    - name: Install sbt via Coursier v2.1.24
      run: |
        curl -fL "https://github.com/coursier/coursier/releases/download/v2.1.24/cs-x86_64-pc-linux.gz" | gzip -d > cs
        chmod +x cs
        ./cs --version  # verify that we're using v2.1.24
        ./cs install sbt
        echo "$HOME/.local/share/coursier/bin" >> $GITHUB_PATH

    - name: Checkout Fact Graph
      uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
      with:
        path: fact-graph # Leaving this as is just in case a dependency gets added later

    - name: Get latest fact-graph commit SHA
      id: fg_sha
      working-directory: ${{ env.FACT_GRAPH_PATH }}
      run: echo "sha=$(git rev-parse HEAD)" >> $GITHUB_OUTPUT

    - name: Retrieve cached global sbt dependencies
      id: global_sbt_dependencies_cache
      uses: actions/cache@0400d5f644dc74513175e3cd8d07132dd4860809 #v4.2.4
      with:
        path: |
          ~/.ivy2/cache
          ~/.sbt
          ~/.coursier
        key: ${{ runner.os }}-sbt-${{ steps.fg_sha.outputs.sha }}

    - name: Format Scala code
      working-directory: ${{ env.FACT_GRAPH_PATH }}
      run: make ci_format_check

    - name: Run Tests
      working-directory: ${{ env.FACT_GRAPH_PATH }}
      run: make ci_test
  
    - name: Save cached global sbt dependencies
      uses: actions/cache@0400d5f644dc74513175e3cd8d07132dd4860809 #v4.2.4
      with:
        path: |
          ~/.ivy2/cache
          ~/.sbt
          ~/.coursier
        key: ${{ runner.os }}-sbt-${{ steps.fg_sha.outputs.sha }}
